{% extends 'base.html' %}

{% block title %}Users{% endblock %}
{% block users_active %}active{% endblock %}

{% block content %}
<div class="d-flex flex-row flex-wrap" style="margin-top:75px;">
  <div class="col d-flex justify-content-start">
    <div class="dropdown">
      <button class="btn btn-outline-{{current_user.status}} btn-lg dropdown-toggle" type="button" id="userlist" data-bs-toggle="dropdown" aria-expanded="false">
      {{current_user.username}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="userlist">
        {% for user in users %}
          <li><a class="dropdown-item" href="/users/{{user.username}}">{{user.username}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col d-flex justify-content-end">
    <h4>Rank: {{ rank.place }}/{{ rank.total }}</h4>
  </div>
</div>

<h3 class="text-center">Contributions Over Time</h3>
<div class="d-flex justify-content-center">
  <div style="width: 80vw; height: 50vh;">
    <canvas id="lineChart"></canvas>
  </div>
  <script>
    var ctx = document.getElementById('lineChart').getContext('2d');
    var lineChart = new Chart(ctx, {
      type: "line",
      data: {
        labels: {{ line_graph.dates | safe }},
        datasets: [  
          {
            label: "Additions",
            data: {{ line_graph.additions | safe }},
            borderColor: "green",
            lineTension: 0.5
          },
          {
            label: "Deletions",
            data: {{ line_graph.deletions | safe }},
            borderColor: "red",
            lineTension: 0.5
          },
          {
            label: "Total",
            data: {{ line_graph.total | safe }},
            borderColor: "yellow",
            lineTension: 0.5
          },
        ],
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
      }
    });
  </script>
</div>


<div class="d-flex flex-row" style="margin-top: 50px;">
  <div class="col d-flex justify-content-center text-center">
    <div>
      <h3>Additions vs Deletions</h3>
      <canvas id="pieChart"></canvas>
    </div>
    <script>
      var ctx = document.getElementById('pieChart').getContext('2d');
      var pieChart = new Chart(ctx, {
          type: 'pie',
          data: {
              labels: ['Additions', "Deletions"],
              datasets: [{
                label: 'Contribution Comparison',
                data: {{ pie_graph | safe }},
                backgroundColor: ["rgba(58, 200, 72, 0.8)", "rgba(255, 99, 132, 0.9)"],
                borderColor: ['rgba(2, 122, 23, 1)', 'rgba(156, 5, 5)'],
                borderWidth: 1,
            }]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true
          }
      });
    </script>
  </div>

  <div class="col">
    <link rel="stylesheet" href="{{ url_for('static', filename='fullcalendar.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='semantic.min.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='semantic.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='fullcalendar.min.js') }}"></script>
    <h2 class="text-center">Activity</h2>    
    <div class="ui container" style="width: 550px; height: 300px">
      <div class="ui grid">
        <div class="ui sixteen column">
          <div id="calendar"></div>
        </div>
      </div>
    </div>
    <script>
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    today = yyyy + '-' + mm + '-' + dd;
    $(document).ready(function() {
      
    $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'month,basicWeek,basicDay'
        },
        defaultDate: today,
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [
          {
            title: "Today",
            start: today
          },
          {
            title: 'Last Sign In',
            start: {{ activity.date | safe }}
          },
        ]
      });
    });
    </script>
  </div>
</div>

<h3 class="text-center" style="margin-top: 50px;">Contributed Projects</h3>
<div class="d-flex justify-content-center">
  <div style="width: 80vw; height: 50vh;">
    <canvas id="barChart"></canvas>
  </div>
  <script>
    var ctx = document.getElementById("barChart").getContext("2d");

    var data = {
        labels: {{ bar.projects | safe}},
        datasets: [
            {
                label: "Additions",
                backgroundColor: "rgba(58, 200, 72, 0.8)",
                borderColor: 'rgba(2, 122, 23, 1)',
                borderWidth: 1,
                data: {{ bar.additions | safe }}
            },
            {
                label: "Deletions",
                backgroundColor: "rgba(255, 99, 132, 0.9)",
                borderColor: 'rgba(156, 5, 5)',
                borderWidth: 1,
                data: {{bar.deletions | safe}}
            },
            {
                label: "Total",
                backgroundColor: "rgba(23, 173, 207, 0.8)",
                borderColor: 'rgba(1, 119, 145)',
                borderWidth: 1,
                data: {{bar.totals | safe}}
            }
        ],
    };

    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: data,
        options: {
            barValueSpacing: 20,
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                    }
                }]
            }
        }
    });
  </script>
</div>

<!-- <div class="d-flex justify-content-center">
  <h3 class="text-center">Slacker History</h3>
  <p>test test test</p>
</div> -->

{% endblock %}
